<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-5"><h4>Food Search...</h4>  Don't worry, I'll get this looking prettier</div>
					</div>
				</div>
				<div class="panel-body">
					<form class="form-inline">
						<div class="form-group">
							<select>
								<option value="OH">GA</option>
								<option value="GA">GA</option>
								<option value="WA">WA</option>
							</select>
						</div>
						<div class="form-group">
							<select>
								<option value="ClassI">Class I</option>
								<option value="ClassII">Class II</option>
								<option value="ClassIII">Class III</option>
							</select>
						</div>
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Possible fuzzy search for food..." ng-model="search.keyword">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit" ng-click="search.search()"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		search results...
		<div class="col-md-10 col-md-offset-1">
			<div class="list-group">
				<a ui-sref="foodDetails" class="list-group-item">food 1</a>
				<a ui-sref="foodDetails" class="list-group-item">food 2</a>
				<a ui-sref="foodDetails" class="list-group-item">food 3</a>
				<a ui-sref="foodDetails" class="list-group-item">food 4</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			pagination...
			<nav>
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>